
$orange: #fd3500;
$orange-pastel: #e7aa25;
$green: #00de00;
$green_lightsaber: #16ff01;
$green_lightsaber-light: #76ff6a;
$dark-green: #006300;
$light-green: #38e2ee;
$blue: #007bff;
$blue_sky: #58a9ff;
$blue_lightsaber: #96fbff;
$pink: #cc00ff;
$gold: #fff901;
$white: #ffffff;
$black: #000000;
$blue_background: #0073c1;
$red: #ff0000;
$dark-red: #ac1717ce;
$purple: rgb(128, 0, 128);
$gray: #5f5876;
$valid-alert: #ff7f7f;
$indigo: #4b0082;
$yellow: rgb(255, 255, 0);
$fuchsia: #ff00ff;
$coral: #ff7f50;
$olivedrab: #6b8e23;
$D: #285ae4;
$green-pastel: #008664;
$gold-dark: #e2d300;
$gold-light: #fffdb5;

$deeper: darken($purple, 5%);
$lighter: lighten($light-green, 10%);