@import url('https://fonts.googleapis.com/css2?family=Itim&family=Patrick+Hand&family=Titan+One&display=swap');

:root {
    font-size: 10px;
    font-family: 'Itim', cursive;
    // font-family: 'Patrick Hand', cursive;
    // font-family: 'Titan One', cursive;
    font-weight: bold;
    letter-spacing: .25rem;
}