@import '../partials/mixins';
@import '../partials/colors';


.selectedPrice{

  @include desktop-main {
    margin-top: 25px;
  }
}
  

.price-btns {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: .5rem 1.7rem;
    margin: 2rem;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    will-change: transform;
    // letter-spacing: .05rem;
    background: $white;
    color: $deeper;
    overflow: hidden;
    transition: .3s ease-in-out;
    border-radius: .5rem;
    font-family: 'Itim', cursive;
    
    @include box_shadow(5);
    &:hover {
      color: $gold;
      background-color: $purple;
    }
  }

  
